<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>index</title>
	
</head>
<body id="index">
	<div id="about">
		Shortening, is a framework created for the sole purpose of allowing you to shorten your own links.<br> 
		In all honesty, shortening links isn't hard so why leave the work to someone else.<p></p>
		Shortening was made using Sinatra, MongoMapper, and MongoDB.<p></p>
		
		I hope you enjoy it.
	</div>
	<form action="/store" method="get" accept-charset="utf-8">
		<p><label for="url">URL:</label>
			<!-- <input type="url" placeholder="Enter your link to be shortened" name="url" id="url"> -->
		    <input placeholder="Enter your link to be shortened" name="url" id="url">
			<input type="submit" value="submit">
		</p>
	</form>
	
</body>
</html>