<html>
	 <head>
	 	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	 	<title>Shortening - Link Not Found</title>
	 </head>

	<body id="not_found" onload="">
	 You know, we like you but we aren't able to find your link here :-( 
	 <p></p>
	 Please check your link to make sure that it isn't missing any characters. 
	
	 <%= @link_id %>
	</body>
</html>