<html>

	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>stats</title>
	
	</head>

	<body id="stats" onload="">
	 Your Shortening Server has <%= @link_count %> links stored here :-) <p></p>
	
	<% for link in @shortened_links %>
	   <%= link.url%> was added on
	   <%= link.input_time%> <br>
	<% end %>
	</body>
</html>